
body {
	text-align: center;
}

h1 {
  color: #313233;;
  background: white;
  font-family: 'Roboto', sans-serif;
  padding-top: 70px;
  font-size: 30pt;
  letter-spacing: 1px;
}

.container {
  position: relative;
  width: 50%;
  margin: 50px auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}

.container:hover .overlay {
  opacity: 0.6;
}

.text {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
